click
cycler
Flask
fonttools
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
ordered-set
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
Werkzeug
